
*{
    margin: 0px;
    padding: 0px;
}
.banner{
    background-image: url(../assets/Hero-bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 652px;
}
.banner-pic{
    margin-top: 26px;
}
.banner-header{
    color: rgb(13, 19, 33);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}
.header{
    margin-top: 32px;
}
.banner-description{
    color: rgb(13, 19, 33);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    text-align: center;
    opacity: 0.7;
}
.description{
    margin-top: 24px;
}
.banner-button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    margin-top: 32px;
}
.button-paragraph{
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}
.page1{
    margin: 74px 152px 90px 148px;
    padding: 80px 97px 80px 97px rgba(13, 19, 33, 0.02);
    background-color: rgba(13, 19, 33, 0.02);
    margin-bottom: 80px;
}
.page1-header{
    color: rgb(13, 19, 33);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}
.page1-header-description{
    color: rgb(13, 19, 33);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.page1-header-description1{
    color: rgb(13, 19, 33);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}
.page1-section1{
    border: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;
    margin-left: 48px;
    margin-right: 48px;
    padding: 48px;
}
.section1-img{
    border-right: 48px;
    border-left: 48px;
}
.page1-section1-head{
    color: rgba(13, 19, 33, 0.7);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin-top: 10.5px;
    margin-bottom: 16px;
}
.page1-section1-description{
    color: rgb(13, 19, 33);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-bottom: 32px;
}
.page1-button{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    margin-bottom: 10.5px;
}
.page1-section2{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    margin-top: 32px;
    margin-left: 48px;
    margin-right: 48px;
    padding: 48px;
}
.page1-s3{
    border: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 32px;
    padding: 48px;
}
.p3-s1{
    color: rgb(13, 19, 33);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}
.p3-s2{
    color: rgb(13, 19, 33);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;
}
.video{
    margin-top: 48px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-bottom: 149px;

}
.page3{
    background-color: white;
    margin-right: 150px;
    margin-left: 150px;
}
.p4-s1{
    color: rgb(13, 19, 33);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
}
.p4-s2{
    color: rgb(13, 19, 33);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 24px;
}
.p4-l1{
    color: rgb(13, 19, 33);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
.p4{
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
}
.p4-sec1{
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    margin-right: 24px;
}
.p4-sec2{
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    margin-right: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.p4-sec3{
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}